mixin sSchedule()
	// start sSchedule
	+b.SECTION.sSchedule.section#sSchedule&attributes(attributes)
		.container
			+section-head('15 / РАСПИСАНИЕ')
			+e.body
				+b.section-title
					h2 ТОРГОВЛЯ ПОД ВАШЕ РАСПИСАНИЕ
				+e.P.lead Трейдинг не должен ломать Ваш день. У Вас есть только 2–3 часа утром или вечером? Вы не можете сидеть у графика весь день, но и полностью доверять торговлю роботу пока не готовы?
				+e.P.lead Радар Вульфа поможет проверить, какие инструменты и таймфреймы дают результат именно в это время.
				+e.items
					+e.item
						+e.SPAN.item-num 01
						+e.P.item-text Настройте удобное время анализа.
					+e.item
						+e.SPAN.item-num 02
						+e.P.item-text Ищите сделки утром, днем, вечером, в конкретный промежуток времени.
					+e.item
						+e.SPAN.item-num 03
						+e.P.item-text Проверьте, как паттерн отрабатывал в Вашем временном режиме.
					+e.item
						+e.SPAN.item-num 04
						+e.P.item-text Получайте уведомления и подключайтесь только когда есть повод.
					+e.item.--full
						+e.SPAN.item-num 05
						+e.P.item-text Торгуйте в удобное время, не превращая рынок в круглосуточную вахту.
				+e.P.conclusion Вы не подстраиваете жизнь под рынок. Вы проверяете, где рынок может работать под Ваше расписание.
	// end sSchedule
